@using MvcCheckBoxList.Model
@model RestoSquare.Admin.Models.RegisterViewModel

@{
    ViewBag.Title = "Registration Complete";
}

<h2>Registration Complete</h2>

<p>Your restaurant has been registered and will be available soon!</p>